:root {
  --side-bar__width:300px;
  --site-content-width: 1400px;
}

.side-bar {
  position: fixed;
  top:0;
  left:0;
  width:var(--side-bar__width);
  height: 100%;
  background-color:#afafaf;
  z-index: 100;
}

.site-wrap {
  margin-left:var(--side-bar__width);
}

.con-min-width {
  min-width: var(--site-content-width);
}

.con {
  width: var(--site-content-width);
}

.top-bar {
  position: absolute;
  top:0;
  left:var(--side-bar__width);
  right:0;
  height:50px;
  background-color:red;
  z-index: 50;
}